---
title: Home
googlewebfonts: Gloria+Hallelujah
photos:
  - image: /uploads/1.jpg
    caption: Flamingo - San Jose, US
  - image: /uploads/2.jpg
    caption: Giraffe - Wellington, NZ
  - image: /uploads/3.jpg
    caption: Penguin - Mexico City, MX
  - image: /uploads/4.jpg
    caption: Kingfisher - London, GB
  - image: /uploads/5.jpg
    caption: Zebra - Vegas, US
  - image: /uploads/6.jpg
    caption: Fox - San Diego, US
  - image: /uploads/7.jpg
    caption: Parrot - Queenstown, NZ
  - image: /uploads/8.jpg
    caption: Peacock - Seattle, US
  - image: /uploads/9.jpg
    caption: Pig - Bangkok, TH
  - image: /uploads/10.jpg
    caption: Tiger - Montreal, CA
  - image: /uploads/11.jpg
    caption: Pig - Reykjavik, IS
  - image: /uploads/12.jpg
    caption: Cow - Mt Cook, NZ
---

<ul class="gallery">
	{% for photo in page.photos %}

	<li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a> </li>

	{% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul>

<div class="overlay">
	<a href="#" class="close">&#10005;</a>
	<a class="prev">&lsaquo;</a>
	<a class="next">&rsaquo;</a>
	<p class="caption"></p>
	<img>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  if (window.location.host === "app.cloudcannon.com") {
    $('.gallery').find("a").click(function(e) {
      e.preventDefault();
      return false;
    });
  } else {
    var script = document.createElement("script");
    script.src = "{{ site.baseurl }}/js/lightbox.js";
    document.body.appendChild(script);
  }
</script>
