.editor-link {
 	display: none;
	margin-top: 0;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	cursor: pointer;
	background-color: #ffaec0;
	color: #ffd384;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

	&:hover {
		background-color: #f4d525;
		color: #333;
	}
}

.cms-editor-active .editor-link {
	display: block;
}
